body {
    background-color: #1a1a1a;
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.h-screen {
    height: 100vh;
}

.m-auto {
    margin: 0 auto;
}

#main {
    margin: 0 auto;
    height: 100vh;
    width: 75vw;
    padding: 20px;
}

h1 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    scale: 1.1;
    transition: all 0.3s ease-in-out;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.gap {
    gap: 10px;
}

.gap-large {
    gap: 50px;
}

.underline {
    text-decoration: underline;
}

.text-extralarge {
    font-size: 48px;
}

.text-large {
    font-size: 24px;
}

.text-medium {
    font-size: 18px;
}

.text-small {
    font-size: 14px;
}

.text-center {
    text-align: center;
}

.rounded {
    border-radius: 5px;
}

.rounded-full {
    border-radius: 50%;
}

.padding-base {
    padding: 10px;
}

.card {
    background-color: #fff;
    width: fit-content;
}

.card-content {
    padding: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.text-dark {
    color: #333;
}

.text-light {
    color: #fff;
}

#time {
    font-size: 48px;
    position: absolute;
    top: 1em;
    right: 1em;
}
/*
background-color: #073605;
color: #199515;
*/
#caret {
    background-color: #199515;
    width: 10px;
    height: 20px;
}
#cli {
    width: 0px;
    font-size: 20px;
    padding: 10px;
    border: none;
    color: #199515;
    background-color: transparent;
}

#cli-linestart {
    color: #199515;
    font-size: 20px;
}

#terminal-base {
    box-shadow: 
        inset 0 0 80px #000000, 
        inset 0 0 80px #000000, 
        inset 0 0 80px #000000, 
        inset 0 0 60px #44ff00, 
        0 0 10px #44ff00, 
        0 0 20px #44ff00, 
        0 0 30px #44ff00, 
        0 0 40px #44ff00;
    color: #199515;
    background-color: #073605;
}
#terminal {
    min-height: 70vh;
    padding: 10px;
    overflow-y: scroll;
}

ul {
    list-style-type: none;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(200px, 1fr));
}

.col-span-1 {
    grid-column: span 1;
}

.col-span-2 {
    grid-column: span 2;
}

td {
    padding: 5px;
}